/*min-width = 320px; max-width = 599;*/

/**********************
			DEFAULT
**********************/
html{ 
	margin: 0;
	padding:0;
}

body {
	margin: 0;
	padding:0;
	font: normal 100%/1.5 "Trebuchet MS", Arial, Helvetica, sans-serif;
}

header {
	margin: 0;
	padding:0;
	
	display: block;
	width: 100%;
	height: 107px;
	
	background: url("../images/banner-320.jpg") no-repeat left top;
}

header h1 {
	margin: 0;
	padding:0;
	overflow: hidden;
	text-indent: -999em;
}

.wrapper{
	position: relative;	
}
#main-list {
	margin: 0;
	padding: 5%;
	width: 100%;
	
	background: #d5e8f7; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZThmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5M2M4ZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #d5e8f7 0%, #93c8ed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e8f7), color-stop(100%,#93c8ed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d5e8f7 0%,#93c8ed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d5e8f7 0%,#93c8ed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d5e8f7 0%,#93c8ed 100%); /* IE10+ */
	background: linear-gradient(top,  #d5e8f7 0%,#93c8ed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e8f7', endColorstr='#93c8ed',GradientType=0 ); /* IE6-8 */
}

ul.garden-list {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}

.garden-list li {
	margin: 0;
	padding: 1% 0;

	border-bottom:  2px solid #fff;
}

.garden-list a {
	color: #000;
	text-decoration: none;
}

ol.rater {
	margin: 0;
	padding: 0;
	display: inline;
	
	list-style-type: none;
}

.rater li{
	margin: 0;
	padding: 0;
	display: inline;
	float: right;
	
	border-bottom:  none;
}

#map {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
}



/*min-width = 600px; max-width = 999;*/
@media screen and (min-width: 600px)
{

header {
	background: url("../images/banner-600.jpg") no-repeat left top;
	height: 151px;
}

}


/*min-width = 1000px; max-width = 1499;*/
@media screen and (min-width: 1000px)
{

header {
	background: url("../images/banner-1000.jpg") no-repeat left top;
	height: 222px;
}


}


/*min-width = 1500px; max-width = 1800;*/
@media screen and (min-width: 1500px)
{


header {
	background: url("../images/banner-1500.jpg") no-repeat left top;
	height: 267px;
}

}


/**********************
			SPECIAL
**********************/
.clearfix:before,
.clearfix:after
{
	content:"";
	display: table;
}

.clearfix:after
{
	clear: both;
}

.clearfix
{
	*zoom: 1;
}
